.change1 {
    text-align: center}
.change2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.change3{
    color:beige}
.change4{
    background-color: lightgray;}
img{width: 25%; display:block; margin-left:auto; margin-right:auto}
.change5{
    text-decoration: underline;}
.change6 {
    font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.change7{
    font-size: 16px; font-weight: 500; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: left;}
.change8{
    font-size: 14px; color: blue;}
.change9{
    font-size: 17px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.25rem; margin-bottom: 0.25rem;}